html {
    font-size: 14px;
    background-color: rgb(196, 196, 196);
}

.card {
    position: relative;
    width: 700px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 6px 6px 5px 2px grey;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

@media (max-width: 700px) {
    .card {
        max-width: 540px;
    }
}

@media (max-width: 540px) {
    .card {
        max-width: 310px;
    }
}

.info_block {
    width: 250px;
    background-color: rgb(83, 123, 184);
    color: white;
    display: inline-block;
}

@media (max-width: 700px) {
    .info_block {
        max-width: 215px;
        height: 875px;
    }
}

@media (max-width: 540px) {
    .info_block {
        max-width: 180px;
        height: 1260px;
    }
}

.section h2 {
    background-color: rgb(56, 91, 145);
    padding-left: 10px;
    font-size: 16px;
}

.contacts_info {
    text-align: left;
}

@media (max-width: 700px) {
    .contacts_info {
        padding-left: 20px;
    }
}

.kyrsiv {
    font-style: italic;
}

@media (max-width: 700px) {
    .kyrsiv {
        padding-left: 20px;
    }
}

@media (max-width: 700px) {
    .work-ul {
        padding-left: 20px;
    }
}

.avatar {
    display: block;
    margin: 5px;
    padding-top: 1px;
}

.avatar h1 {
    text-align: center;
    font-size: 25px;
}

.images {
    width: 100%;
}

.info_block li {
    margin: 6px;
}

.info_block li a {
    color: white;
    text-decoration: none;
}

.info_block p li:hover {
    text-decoration: underline;
}

.circle {
    font-size: 25px;
    color: rgb(195, 206, 233);
    padding-left: 0px;
}

.section p {
    margin: 0px;
    text-align: left;
    margin-left: 30px;
    font-style: italic;
}

.right_collum {
    display: inline-block;
    position: absolute;
    width: 450px;
}

@media (max-width: 700px) {
    .right_collum {
        max-width: 290px;
    }
}

@media (max-width: 540px) {
    .right_collum {
        max-width: 120px;
    }
}

.section_right {
    margin: 0px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.section_right h3 {
    background-color: rgb(196, 196, 196);
    padding-left: 10px;
}

.pre {
    margin-top: -15px;
    margin-bottom: -15px;
}

.right-p{
    font-style: italic;
}

.section_right ul {
    margin: 0px;
    padding-left: 10px;
    list-style: '✔ ';
    font-style: italic;
}

.line {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.line-work {
    display: block;
    width: 125px;
    height: 70px;
}

.image-work {
    width: 100%;
}

.footer {
    background-color: rgb(83, 123, 184);
    text-align: center;
    border-top: 1px solid rgb(195, 206, 233);
}

.footer p {
    margin-top: 5px;
    padding-bottom: 5px;
}

.footer img {
    margin-top: 5px;
}

.image_git {
    width: 50px;
    margin-right: 10px;
}

.image_rss {
    width: 100px;
    margin-left: 10px;
}

h6 {
    margin: auto;
    padding: 10px;
    font-size: 14px;
}